

.card {
    border-radius: 5px;
    border-left: 4px solid #293740 !important;
    background: white;
    border: none;
    box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
    color: #000;
}
.card-title {
    font-size: 2rem;
    font-weight: bold;
}
.card-subtitle {
    font-size: 1.2rem;
    color: #666;
}
.productivity-card {
    background-color: white; /* Light Green */
}
.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFFFFF; /* White */
}
.create-btn {
    background-color: white; /* Light Purple */
    color: #fff;
    border-radius: 12px;
    padding: 10px 20px;
    text-decoration: none;
}